/* ===== LOGO MAIOR ===== */

nav .brand img {
    height: 50px;
    width: auto;
}

/* ===== HERO PRETO PREMIUM ===== */

header.theme-dark {
    background-color: #000;
}

/* ===== SEÇÕES COM CORES INDEPENDENTES ===== */

.section-selector-1 {
    background-color: #c3aa6a;  /* preto azulado sofisticado */
}

.section-selector-2 {
    background-color: #111;      /* cinza escuro elegante */
}

.section-selector-3 {
    background-color: #000;      /* preto puro */
}

/* ===== SUAVIDADE VISUAL ===== */

section {
    border-top: 1px solid rgba(255,255,255,0.05);
}

nav .brand img {
    height: 250px;
    width: auto;
}